@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <img class="img-responsive" alt="realxp" src="/Content/Images/realxp-dark.png" />
    <p class="lead" style="margin-left: 40px;">Experience and interact with amazing live events around the world from the comfort of your home.</p>
    <p><a href="/Events" class="btn btn-primary btn-danger" style="margin-left: 40px;">Find Events Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Feel the Atmosphere</h2>
        <p>With realxp you are part of the atmosphere.</p>
        <p>Turn your head to see the fans around you, raise your voice and cheer your team, sing along with your favourite artist...it is all possible with realxp.</p>
        <img src="/Content/Images/Atmosphere.png" alt="Atmosphere" class="img-rounded img-responsive">
        <p style="margin-top: 20px"><a class="btn btn-danger" href="#">View Events &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Latest Technology</h2>
        <p>360&deg; HD cameras, blah blah blah</p>
        <p style="margin-top: 20px"><a class="btn btn-danger" href="#">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Worldwide Venues</h2>
        <p>With realxp you have access to the best venues around the world, virtually.</p>
        <img src="/Content/Images/venue_Arsenal.png" alt="Atmosphere" class="img-rounded img-responsive">
        <p style="margin-top: 20px"><a class="btn btn-danger" href="#">View Venues &raquo;</a></p>
    </div>
</div>